# Environment / secrets
.env
.streamlit/secrets.toml
.env.example

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# PowerBI
powerbi/churn project.pbix
powerbi/churn project.pdf

submissionREADME.md
README.md
